.place__url-heading {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
}
